[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/uefi-headers"]
	path = third_party/uefi-headers
	url =  git@github.com:kiznit/uefi-headers
